<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="/home">Home</a>

    </div>
    <div class="c-div">
        
        <h2><%= user %>, your celebrity soulmate is...</h2>
        <h1>Betty White</h1>
        <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-12/211217-betty-white-2015-ac-634p-d637bd.jpg" >
        <p>
            you like 'em old, what can you say? 
        </p>
    </div>
</body>
</html>