<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <h2>your celebrity soulmate is...</h2>
    <h1>The Rock</h1>
    <img src="https://ftw.usatoday.com/wp-content/uploads/sites/90/2017/05/dwayne-fanny-pack.jpg?w=1000&h=600&crop=1" >
    <p>
        you need someone in your life who's predictable, comfortable, a rock
    </p>
</body>
</html>