<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="/home">Home</a>

    </div>
    <div class="c-div">
        
        <h2>your celebrity soulmate is...</h2>
        <h1>Snoop Dogg</h1>
        <img src="https://resources.tidal.com/images/3e29689c/351e/4832/9c33/45619c5e46dc/750x750.jpg" >
        <p>
            
        </p>
    </div>
</body>
</html>