<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h2>your celebrity soulmate is...</h2>
    <h1>Danny Devito</h1>
    <img src="https://www.nickiswift.com/img/gallery/heartbreaking-details-about-danny-devito/intro-1621355839.jpg" >
    <p>
        you have superior taste
    </p>
</body>
</html>