<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <h2>your celebrity soulmate is...</h2>
    <h1>Tony the Tiger</h1>
    <img src="https://www.nydailynews.com/resizer/5n_0rVoLJ28MePpleS6XsEmLk7Y=/800x856/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/4HDSW6YT777BLGN7SBPHL7STMM.jpg" >
    <p>
        he might be banned on Tumblr, but you think you can fix him right? grrrrrreat
    </p>
</body>
</html>