<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h2>your celebrity soulmate is...</h2>
    <h1>Siri</h1>
    <img src="https://techcrunch.com/wp-content/uploads/2021/08/siri_og.png" >
    <p>
        your love for bad milk really makes you a stinky boy, luckily this phone can't smell. a match made in heaven
    </p>
</body>
</html>