<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <h2>your celebrity soulmate is...</h2>
    <h1>Jake from State Farm</h1>
    <img src="https://content.presspage.com/uploads/1441/commercial-feature.png?10000" >
    <p>
        you're wild and adventurous, but at home, you want to feel safe. and that's why we've picked Jake from state farm.
    </p>
</body>
</html>