<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="">Home</a>

    </div>
    <div class="h-div">

        <h3>
            Find your celebrity soulmate, <%= user %>!
        </h3>
        <!-- <h4>
            Previous soulmate: <%= smate %>
        </h4> -->
        <a href="/q1">Get Started!</a>

    </div>
</body>
</html>