<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="/home">Home</a>

    </div>
    <div class="q-div">
        
        <h1>would you prefer going out or staying in on a Friday night?</h1>
        
        <a href="/q3">go out</a>
        <a href="/q4">stay in</a>
    </div>
</body>
</html>