<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="/">Home</a>

    </div>
    <div class="q-div">
        
        <h1>what's your favorite color?</h1>
        
        <a href="/c3">blue</a>
        <a href="/c4">yellow</a>
    </div>
</body>
</html>