<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Celebrity Soulmate</title>
</head>
<body>
    <div class="head-home">
        <a href="/home">Home</a>

    </div>
    <div class="h-div">

        <h3>
            Sign up to get started<%= punctuation %> <%= user %>
        </h3>
        <!-- <a href="/q1">Get Started!</a> -->
        <form action="/signup" method="POST">
            <p><input type="text" name="username" placeholder="what's your username?"></p>
            <p><input type="password" name="password" placeholder="password"></p>
            <input type="submit" value="sign up!" >
        </form>

        <% if (invalid_login) { %>
            <div class="error">
                Invalid Login.
            </div>
        <% } %>
    </div>
</body>
</html>